*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

body{
  background-image: url('Images/bsb.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
